.example-h1 {

}

.example-h2 {
    font: 20px;
    margin-top: 20px;
}

.example-ex {

}

.example-hti {

}

.main-text {
    padding-top: 10px;
}

ol {
    margin-left: 30px;
}

p b {
    margin-top: 10px;
}