.example-h1 {
    font-size: 20px;
    margin-top: 50px;
}

.example-h2 {
    font: 20px;
    margin-top: 20px;
}

/*.example-ex {

}

.example-hti {

}*/

.main-text {
    padding-top: 10px;
}

ol {
    margin-left: 30px;
}

p b {
    margin-top: 10px;
}

.indent {
    margin-left: 20px;
}

.indent-more{
    margin-left: 40px;
}

.indent-final {
    margin-left: 60px;
}

.source-link:hover, .source-link:focus {
    color: black;
}

h3 {
    margin-top: 100px;
    font-weight: 650;
}

.no-margin {
    margin-top: 0;
}

.b-bigger {
    font-size: 18px;
}

.img-margin {
    margin-top: 40px;
}

.tips {
    list-style: none;
    padding-left: 0;
}

.tips li {
    font-weight: 700;
}

.tips p {
    margin-top: 10px;
    padding-left: 20px;
}

.tips-tools-list li {
    font-weight: 400;
    list-style: none;
}

.tips-tools-list li::before {
    content: "-      ";
    margin: 0;
}

.my-5 u {
    font-weight: 700;
}

.source-link {
    color: rgb(8,83,168);
}