/* /CSS/quiz-styles.css */
.quiz-container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.quiz-card {
    padding: 20px;
}

.quiz-container h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

#quiz-image {
    width: 80%;
    max-width: 400px;
    margin-bottom: 20px;
}

#question {
    font-size: 20px;
    margin-bottom: 20px;
}

.answer-btn {
    display: block;
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    font-size: 18px;
    background-color: #ffb238;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.answer-btn:hover {
    background-color: #f29b2e;
}

#feedback {
    font-size: 18px;
    margin-top: 20px;
    color: #333;
    font-weight: bold;
}
